.form-signin{
    margin: 0 auto;
    max-width: 400px;
}

<<<<<<< HEAD

.pagination{
    float: right;
    font-weight: bold;
    font-size: 20px;

}
=======
.pagination{
    float: right;
    font-weight: bold;
    font-size: 20px;}
>>>>>>> 076d46fc94f82ec478326c9f2b3c83e83b6a1739
